* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-margin-block: 0px;
  font-family: "EB Garamond", serif;
}
body {
  background-size: cover; /* Ensure the image covers the entire div */
  width: 100%;
  height: 100vh; /* Set the height to 100% of the viewport height */
  display: block;
  align-items: center;
  align-content: center;
  margin-right: 50%;
}

.baseImageContainer {
  background-size: cover; /* Ensure the image covers the entire div */

  height: 100%;
  width: 100%;

  position: absolute;
  background-color: rgb(243, 241, 238);
  background-image: url("../assets/stackofmacaron.jpg");
}

.mainContent {
  position: fixed;
  width: 100%;
  top: 0;
}

.title {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
  background-color: rgba(33, 30, 28, 0.6);
  color: white;
}

.space {
  margin-top: 300px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(33, 30, 28, 0.6);
  color: white;
}

.contactform {
  display: none;
}

div.gallery {
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 10px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-size: 30px;
  background-color: rgba(198, 135, 180, 0.926);
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
