* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-margin-block: 0px;
  font-family: "EB Garamond", serif;
}
body {
  background-size: cover; /* Ensure the image covers the entire div */
  width: 100%;
  height: 100vh; /* Set the height to 100% of the viewport height */
  display: block;
  align-items: center;
  align-content: center;
  margin-right: 50%;
}

.baseImageContainer {
  background-size: cover; /* Ensure the image covers the entire div */
  padding: 0;
  margin: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  position: absolute;
  background-color: rgb(243, 241, 238);
  background-image: url("../assets/stackofmacaron.jpg");
  opacity: 0.7;
}

.container {
  margin-left: auto;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 3vh;
}

.filler {
  flex: 1;
}

.main-menu-button {
  cursor: pointer;
  align-items: center;
  align-content: center;
}

h1 {
  margin: 5vh;
}

/* Image modal css */

.imagesModal {
  display: none;
  position: absolute;
  z-index: 0;
  border-radius: 50px;

  height: 60vh;
  width: 80vh;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Optionally, you can add additional styling */
  background-color: rgb(236, 236, 236);
  padding: 20px;
}

.contactModal {
  display: none;
  position: absolute;
  z-index: 0;

  height: 70vh;
  width: 80vh;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Optionally, you can add additional styling */
  background-color: rgb(236, 236, 236);
  padding: 20px;
}

.imageHolder {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.back {
  flex: 0.5;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.forward {
  flex: 0.5;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nextButton {
  flex: 2;
  height: 80%;
  align-items: center;
  align-content: center;
  padding-bottom: 30%;
}

.backButton {
  flex: 2;
  height: 80%;
  align-items: center;
  align-content: center;
  margin-top: 70%;
}

.imageshow {
  position: relative;
  border-radius: 30px;
  width: 70%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  flex: 3;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-fit: contain;
}

.controlImages {
  border-radius: 20px;
  max-width: 100%;
}

.img-text {
  margin-top: 25%;
  margin-left: 50%;
  transform: translate(-50%);
}

#Contact {
  height: 50vh;
  position: relative;
  align-content: center;
}

#scaled-frame {
  zoom: 1;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1);
  -webkit-transform-origin: 0 0;
}

.numar-de-telefon {
  text-align: center;
}

.close,
.closeContact {
  text-align: right;
}

.showTrue {
  display: block;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.showFalse {
  display: none;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.noShow {
  display: none;
}

/* media css*/

/* media css*/

/* media css*/

/* media css*/

/* media css*/
@media (max-width: 821) {
  /* Adjust breakpoint as needed */

  .container {
    margin-left: auto;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: rgb(177, 0, 0);
    font-size: 2vh;
  }

  .contactModal {
    display: none;
    position: absolute;
    z-index: 0;

    height: 50vh;
    width: 80vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Optionally, you can add additional styling */
    background-color: rgb(236, 236, 236);
    padding: 20px;
  }

  .imagesModal {
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 50px;
    height: 50%;
    width: 50vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Optionally, you can add additional styling */
    background-color: rgb(236, 236, 236);
    padding: 20px;
  }

  .imageshow {
    position: static;

    border-radius: 30px;
    width: 80%;
    margin-top: 10%;
    display: flex;

    flex: 5;
  }

  .controlImages {
    position: static;
    z-index: 4;
    max-height: 100%;
    max-width: 100%;
  }

  .forward {
    height: 90%;
  }

  .back {
    opacity: 1;
    flex: 0.5;
    width: 100%;
    height: 100%;
  }
  .backButton {
    flex: 1;
    align-content: center;
    align-items: center;
    height: 80%;
  }

  .contactInfo {
    position: absolute;
    right: 5vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pagetitle {
    width: 100%;
    align-content: center;
    margin-bottom: 10vh;
    background-color: rgb(250, 176, 246);
    opacity: 0.6;
  }

  .titletext {
    position: static;
    align-content: center;
    padding-right: 20vh;
    margin-right: auto;
    box-sizing: content-box;
    width: 20%;
  }
}

@media (max-width: 400) {
  /* Adjust breakpoint as needed */

  .container {
    margin-left: auto;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: rgb(24, 197, 36);
    font-size: 2vh;
  }

  .contactModal {
    display: none;
    position: absolute;
    z-index: 0;

    height: 50vh;
    width: 80vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Optionally, you can add additional styling */
    background-color: rgb(236, 236, 236);
    padding: 20px;
  }

  .imagesModal {
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 50px;
    height: 50%;
    width: 50vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Optionally, you can add additional styling */
    background-color: rgb(236, 236, 236);
    padding: 20px;
  }

  .imageshow {
    position: static;

    border-radius: 30px;
    width: 80%;
    margin-top: 10%;
    display: flex;

    flex: 5;
  }

  .controlImages {
    position: static;
    z-index: 4;
    max-height: 100%;
    max-width: 100%;
  }
  .back {
    opacity: 1;
    flex: 0.5;
    width: 100%;
    height: 100%;
  }
  .backButton {
    flex: 1;
    align-content: center;
    align-items: center;
    height: 80%;
  }

  .forward {
    height: 90%;
  }
  .contactInfo {
    position: absolute;
    right: 5vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pagetitle {
    width: 100%;
    align-content: center;
    margin-bottom: 10vh;
    background-color: rgb(250, 176, 246);
    opacity: 0.6;
  }

  .titletext {
    position: static;
    align-content: center;
    padding-right: 20vh;
    margin-right: auto;
    box-sizing: content-box;
    width: 20%;
  }
}

@media screen and (max-width: 1220) {
  /* Adjust breakpoint as needed */

  .container {
    margin-left: auto;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: rgb(103, 11, 209);
    font-size: 2vh;
  }

  .contactModal {
    display: none;
    position: absolute;
    z-index: 0;

    height: 50vh;
    width: 80vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Optionally, you can add additional styling */
    background-color: rgb(236, 236, 236);
    padding: 20px;
  }

  .imagesModal {
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 50px;
    height: 50%;
    width: 50vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Optionally, you can add additional styling */
    background-color: rgb(236, 236, 236);
    padding: 20px;
  }

  .imageshow {
    position: static;

    border-radius: 30px;
    width: 80%;
    margin-top: 10%;
    display: flex;

    flex: 5;
  }

  .controlImages {
    position: static;
    z-index: 4;
    max-height: 100%;
    max-width: 100%;
  }
  .back {
    opacity: 1;
    flex: 0.5;
    width: 100%;
    height: 100%;
  }
  .backButton {
    flex: 1;
    align-content: center;
    align-items: center;
    height: 80%;
  }

  .forward {
    height: 90%;
  }
  .contactInfo {
    position: absolute;
    right: 5vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pagetitle {
    width: 100%;
    align-content: center;
    margin-bottom: 10vh;
    background-color: rgb(250, 176, 246);
    opacity: 0.6;
  }

  .titletext {
    position: static;
    align-content: center;
    padding-right: 20vh;
    margin-right: auto;
    box-sizing: content-box;
    width: 20%;
  }
}
/*  useless */
